{% extends 'base.html.twig' %}

{% block title %}Plan du site - EcoRide{% endblock %}

{% block body %}
  <h1>Plan du site</h1>

  <p>Je vous présente ci-dessous le plan du site pour accéder rapidement aux différentes pages.</p>

  <ul>
    <li><a href="{{ path('app_home') }}">Accueil</a></li>
    <li><a href="{{ path('app_search_ride') }}">Rechercher un covoiturage</a></li>
    <ul class="pl-20">
      <li><a href="{{ path('app_access_ride') }}">Voyages proposés</a></li>
      <li><a href="{{ path('app_detail_voyage') }}">Détail du voyage</a></li>
    </ul>

    <li><a href="{{ path('app_connexion') }}">Connexion</a></li>
    <ul class="pl-20">
      <li><a href="{{ path('app_creat_account') }}">Créer un compte</a></li>
      <li><a href="{{ path('app_admin') }}">Admin</a></li>
      <li><a href="{{ path('app_user_space') }}">Mon compte</a></li>
      <ul class="pl-20">
        <li><a href="{{ path('app_user_vehicle') }}">gestion de mes véhicules</a></li>
        <ul class="pl-20">
          <li><a href="{{ path('app_modif_vehicle') }}">Modifier un véhicule</a></li>
        </ul>
        <li><a href="{{ path('app_suggest_trip') }}">Proposer un voyage</a></li>
      </ul>
    </ul>
    <li><a href="{{ path('app_contact') }}">Contact</a></li>
  </ul>
{% endblock %}
