<div class="infos-voyage__depart-arrivee f-row al-center g-15 w-100">

  {# Départ #}
  <div class="infos-voyage__depart f-col al-start">
    <p id="villeDepart" class="bold">{{ villeDepart|default('Paris') }}</p>
    <p class="infos-voyage__depart__date">{{ dateDepart|default('12/12/24') }}</p>
    <p class="infos-voyage__depart__heure">{{ heureDepart|default('14:30') }}</p>
  </div>

  {# Flèche entre départ et destination #}
  <div class="infos-voyage__depart-arrivee__fleche" role="img" aria-label="flèche allant de la gauche vers la droite"></div>

  {# Arrivée #}
  <div class="infos-voyage__arrivee f-col al-end">
    <p id="villeArrivee" class="bold">{{ villeArrivee|default('Lyon') }}</p>
    <p class="infos-voyage__arrivee__date">{{ dateArrivee|default('12/12/24') }}</p>
    <p class="infos-voyage__arrivee__heure">{{ heureArrivee|default('14:30') }}</p>
  </div>

</div>
