<div class="f-row f-w al-center just-sb g-10 b-1 b-secondary r-15 hp-10">
  <div class="plaque relative">
    <p class="immatriculation">{{ immatriculation }}</p>
  </div>
  <div class="f-col g-5 just-center al-start">
    <h3>{{ marque|default('Marque') }}</h3>
    <p>{{ model|default('Modèle') }}</p>
  </div>
  {% include 'components/icone/electricalCar.html.twig' with {
    class: electrique ? 'is-electric' : 'is-not-electric'
    } %}
  <div class="{{ pencilIconVisibility|default('hidden') }}">
    <a href="{{ path('app_modif_vehicle', {id: voitureId}) }}" class="secondary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
      </svg>
    </a>
  </div>
</div>
