<div class="f-col al-start w-100 mb-8">
  <label for="{{ inputId }}">{{ label }}</label>
  <input type="number" id="{{ inputId }}" value="{{ value }}" min="{{ min }}" max="{{ max }}" {{ required|default('') }}>
  {% include 'components/form/error-alerte.html.twig' %}
</div>
