<div class="f-col al-start w-100 g-5">
    <label for="{{ inputId }}">{{ label }}</label>
    <input type="textarea" id="{{ inputId }}" name ="{{ inputId }}" placeholder="{{ placeholder }}" value="{{ value }}">
</div>
