{% set required = required|default(false) %}

<div class="form-group f-col al-start w-100 mb-8">
  <label for="{{ inputId }}">{{ label }}</label>
  <div class="checkbox-wrapper-38">
    <input class="toggle-input" id="{{ inputId }}" name ="{{ inputId }}" type="checkbox"></input>
    <label class="toggle-label" for="{{ inputId }}"></label>
  </div>
  {# Inclusion du message d’alerte si le champ est requis et vide #}
  <div class="error-message hidden">
    {% include 'components/form/error-alerte.html.twig' with { alertMessage: alertMessage } %}
  </div>
</div>
