{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
  <h1>Se connecter</h1>

  {% if error %}
    <div class="alert alert-danger">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
  {% endif %}

  <form id="signinForm" class="connexion g-30 p-15 container" method="post" action="{{ path('app_login') }}">
    <div class="connexion__existingCount f-col just-center g-15 w-100">
      {# Champ email #}
      {% include 'components/form/input-email.html.twig' with {
        label: 'Adresse email',
        inputId: 'email',
        placeholder: 'Entrez votre adresse email',
        required: true,
        alertMessage: 'Merci de rentrer un email valide.',
        value: last_username
      } %}

      {# Champ mot de passe #}
      {% include 'components/form/input-mdp.html.twig' with {
        inputId: 'password',
        required: true
      }
      %}

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

      <div>
        <button id="btnLogin" class="btn btn-main" type="submit" disabled>Valider</button>
      </div>
    </div>

    <div class="connexion__separateur al-center just-center g-20 w-100">
      <p class="connexion__separateur__text">OU</p>
    </div>

    <div class="connexion__newCount f-col just-center w-100">
      <a href="{{ path('app_signup') }}" class="btn btn-create">Créer un compte</a>
    </div>
  </form>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('scripts/auth/login.js') }}"></script>
{% endblock %}